{# @var $page \bee\Core\Controller\Page\WebPage #}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>{{ page.getTitle() }}</title>
    <meta charset="{{ page.getPageCharset() }}" />
    {% for css in page.getCss() %}
        <link rel="stylesheet" href="{{ css }}"/>
    {% endfor %}
    {% for js in page.getJs() %}
        <script src="{{ js }}"></script>
    {% endfor %}
    <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <meta property="og:title" content="Torg telegram bot" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/static/big_icon.png" />
    <meta name="description" content="Это невероятно и восхитительно, ни у кого такого нет, попробуй сам! Окунись в поразительный мир товаров, найди самые привлекательные цены. Удивись тому, насколько это просто!">
    <link rel="icon" type="image/png" sizes="64" href="/static/icon72.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>