<!DOCTYPE html>
<html>{% include 'html/head.twig' with {page : page, debug : debug} %}
<body class="promo">
<div class="promo__panel promo__panel_left">
    <h1 class="promo__header">Торг бот</h1>
    <div class="promo__text">Это невероятно и восхитительно, ни у кого такого нет, попробуй сам! Окунись в поразительный мир товаров, найди самые привлекательные цены. Удивись тому, насколько это просто!</div>
    <a class="promo__try-button" href="https://telegram.me/torgmailru_bot">Попробовать</a>

    <div class="promo__last-requests">
        <h2 class="promo__last-requests-header">Последние запросы</h2>
        <ul id="last-requests">
        </ul>
    </div>
</div>
<div class="promo__panel">
    <div class="promo__phone">
        <img class="promo__phone-image" src="/static/phone.png"/>
    </div>
    <div class="promo__share-vk">
        <script type="text/javascript">
            document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
        </script>
    </div>
    <div class="promo__footer">2016, <a class="promo__mailru-link" href="http://torg.mail.ru">torg.mail.ru</a></div>
</div>

<script>
    (function() {
        var currentRequestId = 0;
        var lastShowedRequestId = -1;

        function refreshLastItems(requestId) {
            var client = new XMLHttpRequest();
            client.open('GET', '/json');
            client.onreadystatechange = function() {
                var data;
                if (client.readyState === XMLHttpRequest.DONE && client.status === 200) {
                    if (lastShowedRequestId < requestId) {
                        lastShowedRequestId = requestId;

                        data = JSON.parse(client.responseText);

                        document.querySelector('#last-requests').innerHTML = data.map(function (x) {
                            return '<li>' + x.text + '</li>';
                        }).join('');
                    }
                }
            };
            client.send();
        }

        refreshLastItems(0);
        setInterval(function() { refreshLastItems(++currentRequestId); }, 3000);
    })();
</script>
</body>
</html>