html {
	height: 100%;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: black;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.promo {
	background: url(/static/background.jpg) 60% 50% no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
}
.promo__panel {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.promo__panel_left {
	align-items: center;
}

.promo__header {
	color: rgba(255,255,255, 0.8);
	text-align: center;
	font-weight: normal;
	font-size: 72px;
	margin: 32px;
	text-shadow: 0 0 40px black;
}
.promo__text {
	text-align: justify;
	margin: 0 0 40px 80px;
	font-size: 20px;
	color: white;
	line-height: 1.5;
	text-shadow: 0 0 20px black;
}
.promo__phone {
	background: url('/static/phone.png') 50% 50% no-repeat;
	background-size: contain;
	flex-grow: 1;
}
.promo__phone-image {
	display: none;
}
.promo__try-button {
	font-size: 20px;
	background: linear-gradient(to bottom, #38AFE2, #1D93D2);
	padding: 15px 50px;
	margin: 5px auto;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	box-shadow: 0 0 40px black;
}
.promo__try-button:hover {
	background: linear-gradient(to bottom, #58CFFF, #3DB3F2);
}
.promo__try-button:active {
	background: linear-gradient(to bottom, #1D93D2, #38AFE2);
}
.promo__share-vk {
	align-self: flex-start;
}
.promo__last-requests {
	color: white;
	text-shadow: 0 0 20px black;
}
.promo__last-requests-header {
	color: white;
	font-size: 40px;
	font-weight: normal;
	text-shadow: 0 0 20px black;
	text-align: center;
}

.promo__footer {
	color: white;
	align-self: flex-end;
	margin: 0 20px 10px 0;
	white-space: nowrap;
}
.promo__mailru-link {
	color: white;
}

@media screen and (max-width: 900px) {
	body {
		height: auto;
	}
	.promo {
		flex-direction: column;
	}
	.promo__panel {
		width: 100%;
	}
	.promo__text {
		margin: 20px 5% 40px;
	}
	.promo__phone {
		background: none;
		flex-grow: 0;
	}
	.promo__phone-image {
		display: block;
		max-width: 100%;
	}
	.promo__share-vk {
		align-self: center;
	}
}

@media screen and (max-height: 720px) {
	body {
		height: auto;
		min-height: 720px;
	}
}